<ion-view view-title="Browse">
  <ion-content>
      
      <div style="margin: 30px;">
          <h1>Geolocation:</h1>
          <div id="geolocation"></div>
      </div>
      <div style="margin: 30px;">
          <h1>DBA:</h1>
          <div>Mensaje: {{msg1}}</div>
      </div>
      <div style="margin: 30px;">
          <h1>TOKEN:</h1>
          <div id="token"></div>
      </div>
      <div style="margin: 30px;">
          <h1>FOTO:</h1>
          <div ng-click="foto()">PRESIONAR</div>
      </div>
      <div style="margin: 30px;">
          <h1>POST:</h1>
          <div id="post"></div>
      </div>

    

    

  </ion-content>
</ion-view>